<div class="container mt-4">
{{newUser}}
<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input class="form-control" id="email" type="text" name="email" placeholder="Your email">

  <br>

  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button class="btn btn-info">Login</button>
  <br>
  <hr>
   <p class="account-message small">
  Don't have an account yet?<br>
  <a href="/auth/signup">Signup</a>
  </p>
</form>
</div>