<form method="POST" id="form-container">
  
  <label for="day">Day</label>
  <input id="day" type="dropdown" name="day" placeholder="Choose a day">
  
  <br><br>

  <label for="place">Place</label>
  <input id="place" type="dropdown" name="place" placeholder="Choose a city">

  <br><br>

  <label for="temperature">Temperature</label>
  <input id="temperature" type="number" name="temperature" placeholder="Put in a number">

  <br><br>

  <button>Place bets</button>
</form>