<div class="container mt-4">

<div class="section">
<h1>Who are we?</h1>
<p>Two out of many excellent full stack web developers in making by Ironhack.</p>
</div>
<hr>
<div class="section">
<h1>The project</h1>
<p>Weather forecast is one of the most exciting topics of daily small talk. It is proven to be the most used topic of conversation,
  as it is egalitarian - anyone can engage in the weather talk. Our application does just that: it helps people share their
  opinion on what weather will be like in the future and check up on what people thought the weather would be like in the
  past days in a more efficient way.
</p>
</div>
<hr>
<div class="flex">
  <img src="images/lars.jpg" alt="lars" class="beauties">
  <div class="innerStuff">
    <h4>Lars Eirik Hansen, Oslo</h4>
    <p>
      Annual weather averages in my town: July is the hottest month in Oslo with an average temperature of 64°F (18°C) and the
      coldest is January at 27°F (-3°C) with the most daily sunshine hours at 8 in June. The wettest month is August with
      an average of 90mm of rain.
    </p>
  </div>
</div>
<hr>
<div class="flex">
  <div class="innerStuff right">
    <h4>Spela Vrtovec, Ljubljana</h4>
    <p>
      Annual weather averages in my town: The hottest month is July, with an average temperature of 20°C (67°F) and the coldest
      is January at -2°C (29°F) with the most daily sunshine hours at 10 in July. The wettest month is October with an average
      of 70mm of rain.
    </p>
  </div>
  <img src="images/spela.jpg" alt="spela" class="beauties">
</div>
</div>