
<div class="wet-background">

<div class="front-main-main">
  <h1>
    Welcome to WET BET,<br> a betting application for weather enthusiasts!
    <br>
  </h1>
   <a href="/auth/signup">Sign up</a>, or if you are already a member just <a href="/auth/login">log in</a>.
   </div>
  <div class="p2"><div class="italic">“Weather is life”</div>-Ann-Derrick Gaillot from
  <a href="https://theoutline.com/post/1552/the-weather-is-not-small-talk?zd=1&zi=atyblhcf">The Outline</a>
  </div>
  <br>
  </div>
