<<<<<<< HEAD
    
    
    <a href="/betting/make-bet">Make a bet</a>
=======
    <a href="make-bet">Make a bet</a>
>>>>>>> 2385bc07b6de3c59fc15ffe8caed21e56046b9e9
        {{!--
        <button>Places</button> --}} {{!-- Maybe in the place, you can also choose the day --}} 
        
        <br><br><br>
        
        See bets for:
        <ul>
            <li><a href="#">Berlin</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">London</a></li>
        </ul>
        <a href="/{{city}}">
            {{{city}}}
        </a>
