    <div class="container mt-4">

    <div class="container">
            <a class=" d-block text-align-center btn btn-lg btn-success br-none text-light font-weight-bold w-50 px-auto mx-auto d-inline-block" href="/betting/make-bet" role="button">new wet-bet</a>
        {{!--
        <button>Places</button> --}} {{!-- Maybe in the place, you can also choose the day --}} 
        
        <br><br>
        
        <div class="bg-secondary rounded p-3 pb-0">
            <h4 class="font-weight-bold text-center text-light">
                See bets for
            </h4>
            <ul class="ul p-1 pb-0 d-flex justify-content-around flex-wrap">
                <li><a class="btn btn-info m-1" href="#">Berlin</a></li>
                <li><a class="btn btn-info m-1" href="#">Oslo</a></li>
                <li><a class="btn btn-info m-1" href="#">Ljubljana</a></li>
                <li><a class="btn btn-info m-1" href="#">Paris</a></li>
                <li><a class="btn btn-info m-1" href="#">London</a></li>
            </ul>
        </div>
    </div>

    </div>
