<div class="container mt-4">

<form class="mw-form mx-auto mt-5" action="/betting/day-and-place" method="POST" id="form-container">
  {{!--  class="was-validated" will make the border green and can make it so it provides message when stuff isnt selected that should be --}}
  <label for="day">Day you want to bet on</label>
  <input class="form-control" type="date" name="date" id="date" min="{{date}}"/>
  
  <br>

  <div class="form-group">
    <label for="place">Pick a city</label>
    <select multiple class="form-control custom-select" id="city" name="city"> 
      <option id="tokyo" name="tokyo" value="Tokyo">Tokyo</option>
      <option id="paris" name="paris" value="Paris">Paris</option>
      <option id="berlin" name="berlin" value="Berlin">Berlin</option>
      <option id="oslo" name="oslo" value="Oslo">Oslo</option>
      <option id="ljubljana" name="ljubljana" value="Ljubljana">Ljubljana</option>
    </select>
        <div class="invalid-feedback">Please select a city</div>
  </div>

  <br>

  <label for="temperature">Your bet in celsius</label>
  <input class="form-control" id="temperature" type="number" id="temperature" name="temperature" placeholder="Put in a number">

  <br>
  <button type="submit" class="btn btn-success font-weight-bold w-100 py-2">Place a bet!</button>
</form>
</div>